.cart-header{
    background-color: white;
}

.quantity-area{
    .down-btn{
        cursor: pointer;
    }
    .up-btn{
        cursor: pointer;
    }
}
.delete-btn{
    cursor: pointer;
}

.total-cart-contain{
    background-color: white;
    height: fit-content;
}