Thank You for Your Purchase!

Dear {{ order.user.username }},

We want to express our sincere gratitude for choosing to shop with us. Your order details are as follows:

Order ID: {{ order.id }}
Created At: {{ order.created_at }}
Total Price: {{ order.total_price }} $
Payment Method: {{ order.payment_method }}
Note: {{ order.note }}
Phone Number: {{ order.phone_number }}
Recipient Name: {{ order.recipient_name }}
Shipping Address: {{ order.shipping_address }}

We hope you are satisfied with your purchase. If you have any questions or concerns, feel free to contact us.

Thank you once again for your trust and support. We look forward to serving you again in the future!

Best regards,
Fahaha Team