.footer {
    a {
        color: #18272F;
        position: relative;
        text-decoration: none;
        font-size: 1rem;
        font-weight: bold;
    }

    a::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 4px;
        border-radius: 4px;
        background-color: #f03535;
        bottom: 0;
        left: 0;
        transform-origin: right;
        transform: scaleX(0);
        transition: transform .3s ease-in-out;
    }

    a:hover::before {
        transform-origin: left;
        transform: scaleX(1);
        color: #f03535;
    }

    /* Presentational Styles */
    body {
        display: grid;
        font-family: 'Poppins', sans-serif;
        font-size: 27px;
        font-weight: 700;
        height: 100vh;
        place-items: center;
    }
}