.xuhuong {
    .card-title {
        height: 3rem;
    }

    .card>a {
        text-decoration: none;
    }

    .card:hover {
        box-shadow: 0 2px 2px 0 rgba(14, 19, 18, 0.2), 0 6px 20px 0 rgba(13, 17, 16, 0.2);
        box-sizing: border-box;
    }

    .nav-tabs {
        border-bottom: 3px solid #ecf3f2;
    }

    .nav-tabs .nav-link {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        color: var(--p-color);
        font-family: var(--title-font-family);
        font-size: var(--btn-font-size);
        font-weight: var(--font-weight-medium);
        padding: 15px 25px;
        transition: all 0.3s;
    }

    .nav-tabs .nav-link:first-child {
        margin-right: 20px;
    }

    .nav-tabs .nav-item.show .nav-link,
    .nav-tabs .nav-link.active,
    .nav-tabs .nav-link:focus,
    .nav-tabs .nav-link:hover {
        border-bottom-color: #C92127;
        color: #C92127;
        font-size: larger;
        font-weight: bold;
    }


    .nav-tabs .nav-link:first-child {
        margin-right: 20px;
    }

}